@model AdministratorNegotiating.Models.Meeting

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Meeting</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MeetingRoom.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MeetingRoom.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DayOfBooking)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DayOfBooking)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameOfMeeting)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameOfMeeting)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BeginTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BeginTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
