@model IEnumerable<AdministratorNegotiating.Models.Meeting>

@{
    ViewBag.Title = "Список встреч";
}

<h2>@ViewBag.Title</h2>

<div id="tables">
    @Html.Action("ListOfWaitingMeetingsPartial", "Meetings")
    @Html.Action("ListOfInProcessPartial", "Meetings")
    @Html.Action("ListOfArchivePartial", "Meetings")
</div>

<hr />
<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>

<p>
    @Html.ActionLink("Список переговорных", "Index", "MeetingRoom", null, new { @class = "btn btn-default" })
</p>