@model IEnumerable<AdministratorNegotiating.Models.Meeting>
<div id="archiveTable">
    <h4>Разрешенные</h4>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingRoom.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingRoom.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfMeeting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }

    </table>
</div>