@model IEnumerable<AdministratorNegotiating.Models.Meeting>
<div id="processTable">
    <h4>Разрешенные</h4>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingRoom.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingRoom.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfMeeting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Ajax.ActionLink(" ", "Delete", "Meetings", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "myModalBox" }, new { @class = "glyphicon glyphicon-trash delete", @style="text-decoration:none" })
                </td>
            </tr>
        }

    </table>
</div>

<!-- HTML-код модального окна -->
<div id="myModalBox" class="modal"></div>

<script>
    $(document).ready(function () {
        $("#processTable").on("click", ".delete", function () {
            $("#myModalBox").fadeIn();
        });
    });
</script>