@model IEnumerable<AdministratorNegotiating.Models.Meeting>

<div id="archiveTable">
    <h4>Архив встреч</h4>
    <table class="table table-striped" id="table-demo">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingRoom.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.Status == AdministratorNegotiating.Models.Meeting.StatusTypes.Rejected)
            {
                <tr class="danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetingRoom.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayOfBooking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfMeeting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                </tr>
            }
            else
            {
                <tr class="active">
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetingRoom.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayOfBooking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfMeeting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                </tr>
            }
        }
    </table>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="~/Scripts/paging.js"></script>

<style type="text/css">
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        width: 400px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>

<script>
    $(document).ready(function () {
        $('#table-demo').paging({
            limit: 5,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });
    });    
</script>
